/* Font Family  */
@font-face { font-family: 'Keshiki';  src: url("font-family/Keshiki/Sdasian-WyDon.ttf");  }
@font-face { font-family: 'sd-asian'; src: url("font-family/SD-Asian/Sdasian-WyDon.ttf"); }
@font-face { font-family: 'Poppins'; src: url("font-family/Poppins/Poppins-Medium.ttf");}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
    transition: 1s;
}

.container {
    max-width: 950px;
    margin: auto;
}

.navbar {
    padding: 12px 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-family: 'sd-asian';
    text-decoration: none;
    font-size: 2rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul a {
    display: block;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    font-family: 'Keshiki';
    position: relative;
}

.navbar ul:has(a:hover) a:not(:hover) {
    filter: blur(10px);
}

.page-content {
    text-align: center;
    margin-top: 2rem;
    padding: 0 10px;
}

.page-content .heading {
    font-size: 6rem;
    font-family: 'sd-asian';
    margin-bottom: 0; /* Adjust margin-top to position the heading properly */
}

.page-content p {
    font-family: 'Poppins', sans-serif;
}


.contact-form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    
    border-radius: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 1rem;
}

.contact-form input[type="text"], 
.contact-form input[type="email"], 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    color: black; /* Set text color to black */
}

.contact-form input[type="submit"] {
    background-color: #eb431d; /* Bootstrap primary color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #ff0d05; /* Darker shade of blue */
}

/* Added CSS for social links */
.social-links {
    text-align: center;
    margin-top: 20px;
}


.social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.social-links a {
    display: block;
    height: 40px;
    width: 40px;
    margin: 0 10px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    backdrop-filter: blur(160px);
    background: #c624f71e;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.social-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #f15405;
    z-index: -1;
}

.social-links a:hover::after { 
    height: 100%;
}